extends template/main

block variables
	- var title = 'Редактирование профиля'
	- var pageClass = 'page-allusers'

block content
	.container
		div(class="page-inner "+pageClass)
			main
				.content__block
					.block__title Базовые данные
					.row__input
						.input__item
							h4 Имя *
							input(type="text")
						.input__item
							h4 Имя *
							input(type="text")
						.input__item
							h4 Имя *
							input(type="text")

					.row__input
						.input__item
							h4 День рождения
							select.select
								option(value="Январь") Январь
								option(value="Январь") Февраль
						.input__item
							h4 Страна
							select.select
								option(value="Январь") Январь
								option(value="Январь") Февраль
						.input__item
							h4 Город
							select.select
								option(value="Январь") Январь
								option(value="Январь") Февраль
								option(value="Январь") Январь
								option(value="Январь") Февраль
								option(value="Январь") Январь
								option(value="Январь") Февраль
								option(value="Январь") Январь
								option(value="Январь") Февраль
								option(value="Январь") Январь
								option(value="Январь") Февраль
								option(value="Январь") Январь
								option(value="Январь") Февраль
								option(value="Январь") Январь
								option(value="Январь") Февраль

			aside
				.lk_tag_box