@media (max-width: 992px)
	header 

		.container
			justify-content: space-between
		
		.nav 
			margin-left: 0
			
			.nav__list
				flex-direction: column
				justify-content: center

			.nav__item
				margin-right: 0

		.profile__nav
			margin-left: 0

		.profile__auth
			margin-left: 0

	.content 
		
		.page-inner
			flex-wrap: wrap
			flex-direction: column

	main
		width: 100%
		margin-right: 0
		margin-bottom: 25px

	aside
		display: flex
		width: 100%
		flex-wrap: wrap
		flex-basis: auto
		min-width: 0

		.content__block
			width: calc(50% - 12.5px)
			margin-right: 12.5px

		.content__block:nth-child(2n)
			width: calc(50% - 12.5px)
			margin-left: 12.5px
			margin-right: 0

	footer
		
		.footer__contacts
			flex-direction: column
			justify-content: center

			.footer__contacts-item
				margin-right: 0
				margin-bottom: 10px
				text-align: center

		.footer__copy
			margin-top: 15px
			text-align: center
			width: 100%

	div.page-allusers 

		main 
			
			.row__input 

				.input__item

					&.w3
						width: 50% 

					.input__foto 
						flex-wrap: wrap
						
						.upload
							width: 100%
							margin-top: 18px
					
				.input__file 
					flex-wrap: wrap
					margin-bottom: 9px
					
					.input__file-label
						width: 50%
						margin-bottom: 9px
		
		aside
			width: 100%
			flex-wrap: wrap
			flex-basis: auto
			min-width: 0
			margin-bottom: 20px

			.lk_tag_box
				width: 100%

	div.page-lk 

		main 
			
			.row__input 

				.input__item

					&.w3
						width: 50% 

					.input__foto 
						flex-wrap: wrap
						
						.upload
							width: 100%
							margin-top: 18px
					
				.input__file 
					flex-wrap: wrap
					margin-bottom: 9px
					
					.input__file-label
						width: 50%
						margin-bottom: 9px
		
		aside
			width: 100%
			flex-wrap: wrap
			flex-basis: auto
			min-width: 0
			margin-bottom: 20px

			nav.aside
				width: 100%

	div.page-quest

		aside
			width: 100%
			flex-wrap: wrap
			flex-basis: auto
			min-width: 0
			margin-bottom: 20px

			.lk_tag_box
				width: 100%

	div.page-comps

		aside
			width: 100%
			flex-wrap: wrap
			flex-basis: auto
			min-width: 0
			margin-bottom: 20px

			.lk_tag_box
				width: 100%
		
		main 
			
			.comps__nav	
				flex-direction: column		

			.comps__search
				padding-right: 0

			.comps__sort
				width: 100%
				margin-left: 0		

			.comps__item
				width: 50%			

@media (max-width: 768px)
	header 
		
		.profile__auth 
			
			.profile__link
				padding: 0
				border: none
				font-weight: 500
				width: auto
				background: transparent
				font-size: 13px
				margin-left: 13px

				&:hover
					box-shadow: none
					text-decoration: none

				&:first-child
					margin-left: 0

				&.button--orange
					color: $orange


@media (min-width: 576px)
	header 
		
		.nav
			display: block !important


@media (max-width: 576px)
	a.open__nav
		display: block

	header 

		.logo
			margin-left: 10px
			margin-right: 10px
			margin-top: 5px

		.logo__link
			width: 120px

			svg
				width: 120px

			.logo__desc
				display: none
		
		.nav
			display: none
			background: #fff
			justify-content: flex-start
			left: 0
			right: 0
			position: absolute
			top: 60px
			box-shadow: 0 0 20px rgba(0,0,0,.05)

			.nav__link
				padding: 15px
				font-size: 18px

		.profile__nav 
			
			.profile__link
				margin-right: 10px

			.profile__push
				margin-right: 10px

	div.page-profile 
		
		.content__block.profile__content
			flex-direction: column

			.content__profile-img
				margin-bottom: 15px
				margin-right: 0
				width: 100%
				display: flex
				justify-content: center

				img
					max-width: 100%

		.block__list-data
			margin: 0

			.block__item
				padding: 0
				width: 100%
				margin-bottom: 15px

	aside
		display: flex
		width: 100%
		flex-wrap: wrap

		.content__block
			width: 100%
			margin-right: 0
			margin-left: 0

		.content__block:nth-child(2n)
			width: 100%
			margin-left: 0
			margin-right: 0

	footer 
		
		.container
			flex-direction: column

		.footer__logo
			margin-bottom: 15px

		.footer__contacts
			margin-bottom: 15px

		.footer__soc
			text-align: center
	
	div.page-lk 

		main 
				
			.row__input 

				.input__item

					&.w2
						width: 100% 

					&.w3
						width: 100% 

				.input__foto 
					
					.sort_foto
						margin-left: auto
						margin-right: auto
						margin-top: 20px
					
				.input__file 
					
					.input__file-label
						width: 100%

	div.page-allusers 
		
		main 
			
			.users__nav	
				flex-direction: column		

			.user__search
				padding-right: 0

			.user__sort
				width: 100%
				padding-left: 0	

			.users__list
				
				&.list 
				
					.users__item
						flex-direction: column

						.users__item-photo
							width: 100%

						.users__item-img
							width: 100%
							height: 100%

						.users__item-info
							margin-left: 0
							margin-top: 15px

				.users__item-wrap
					width: 50%

	div.page-quest 
		
		main 

			.quest__bar
				flex-wrap: wrap

			.quest__create
				width: 100%
				margin-top: 15px
			
			.quest__item-header
				flex-direction: column
				align-items: flex-start
				position: relative
				padding-right: 60px

			.quest__nav-icon
				position: absolute
				top: 0
				right: 0

			.quest__item-date
				margin-left: 0

	div.page-comps 
		
		main 

			.comps__bar
				flex-wrap: wrap

			.comps__create
				width: 100%
				margin-top: 15px		

			.comps__item
				width: 100%	

	div.auth_form
		padding: 20px

	div.registration_form
		padding: 20px


@media (max-width: 376px)

	div.page-allusers 
		
		main 
			
			.users__list
				
				.users__item-wrap
					width: 100%

	div.page-lk 
		
		main 
			
			.quest__edit-wrap
				flex-direction: column

			.quest__edit-wrap 
				
				.quest__edit-photo
					margin-bottom: 20px
					margin-right: 0
					width: 100%

				.quest__edit-img
					width: 100%