footer.footer
	.container
		.footer__logo
			a.footer__logo-link(href="/")
				+icon('footer__logo')
				span.footer__logo-desc Международная профессиональная сеть экспертов автобизнеса

		.footer__contacts
			.footer__contacts-item
				+icon('icon__point')
				p 119002, г. Москва, ул. Арбат, д.12, стр. 1
			.footer__contacts-item
				+icon('icon__phone')
				p +7 (495) 989-11-26
			.footer__contacts-item
				+icon('icon__mail')
				p info@aboss.ru

		.footer__soc
			.footer__soc-title Социальные сети
			a.footer__soc-link(href="#")
				+icon('soc__vk')

	.container
		.footer__copy 2022 © Автомобильная консалтинговая компания «АвтоБосс» (ООО «АвтоБосс»)
				